@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body, ul{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;

}

* {
    box-sizing: border-box;
}
section{
    width: 400px;
    margin: 100px auto;
    text-align: center;
    /* border: steelblue 2px dotted; */
    padding: 15px 0;
}

h1{
    opacity: 0.5;
}

a, h3{
    text-decoration: none;
    color:wheat;
    margin: 0;
    padding: 0;
}

 input[type="button"]{

    /* remove default behavior */
    appearance:none;
    -webkit-appearance:none;
  
    /* usual styles */
    padding:10px;
    border:none;
    background-color: wheat;
    color:#fff;
    font-weight:600;
    border-radius:5px;
    width:100%;
  
  }

ul li{
list-style: none;
display: inline-block;
margin: 0;
padding: 0;
/* border: 1px green solid; */

width: 45%;
text-align: center;
}

.over_first{
    border: 1px #666 dotted;
    border-radius: 15px;
    text-shadow: -1px 0 gray, 0 1px gray, 1px 0 gray, 0 -1px gray;
}

ul li:active{
    box-shadow: 0 0 3px 2px rgba(0,0,0, .6);
    border-radius: 15px;
}

ul li a{
    display: inline-block;
    width: 100%;
}

section ul li a:hover{
    /* background-color: violet;
    color: white; */
    box-shadow: 0 0 2px 1px rgba(0,0,0, .2);
    border-radius: 15px;
    color: rgb(202, 150, 54);
}

a:hover{
    color: rgb(202, 150, 54);
}

form{
    /* text-align: right; */
}

input{
    display: inline-block;
    width: 90%;
    padding: 15px 0;
    padding-left: 5px;
    border-radius: 15px;
    outline: none;
}

input[type="text"]{
    display: inline-block;
    width: 45%;
}

input[type="email"]{
    margin-bottom: 15px;
}

form p{
    padding-left: 60%;
}